<div>
    <datalist id="datalistRoles">
        <option *ngFor="let rol of datalistRoles" value="{{rol.rol_name}}"></option>
    </datalist>

    <div class="flex">
        <span [ngClass]="!state_edith ? 'bg-orange-600' : 'bg-red-600'" class="ml-auto p-2 rounded-lg text-sm text-white font-semibold" id="toltipo-info">
            {{!state_edith ? 'CREAR' : 'EDITAR'}}
        </span>
    </div>
    
    <app-form-dynamic
        #form_dynamic
        [inputs]="inputs"
        (reset)="this.state_edith = false"
        (submitEvent)="createUpdateUser($event)"
    ></app-form-dynamic>

    <br class="mt-3">

    <app-datatable
        #datatableUsers
        (clickEmit)="handlerEdith($event)"
        [keys]="['nombre_completo', 'cedula', 'correo', 'telefono', 'direccion', 'rol_name', 'activo']"
        [buttons]="[{icon: 'cil-pencil', text: '', id: 2}]"
        [titles]="['nombre', 'cédula', 'correo', 'teléfono', 'dirección', 'rol', 'activo', 'opciones']"
    ></app-datatable>
</div>

<app-modal #modalUsers [size]="1">
    <h3 class="font-semibold text-xl mb-2">Tenemos problemas al realizar la acción</h3>
    <p><span class="mr-2 cil-notes text-xl"></span> {{message_server}}</p>
</app-modal>

<app-alert #alert_users></app-alert>
<app-loading *ngIf="loading"></app-loading>