<div>
    <div class="flex">
        <span [ngClass]="!state_edith ? 'bg-orange-600' : 'bg-red-600'" class="ml-auto p-2 rounded-lg text-sm text-white font-semibold" id="toltipo-info">
            {{!state_edith ? 'CREAR' : 'EDITAR'}}
        </span>
    </div>
    
    <app-form-dynamic
        #form_dynamic
        [inputs]="inputs"
        (reset)="this.state_edith = true"
        (submit)="createUpdateUser($event)"
    ></app-form-dynamic>

    <app-datatable
        #datatableUsers
        (clickEmit)="handlerEdith($event)"
        [keys]="['nombre_completo', 'cedula', 'correo', 'telefono', 'direccion', 'rol_name', 'activo']"
        [buttons]="[{icon: 'cil-trash', text: '', id: 1}, {icon: 'cil-pencil', text: '', id: 2}]"
        [titles]="['nombre', 'cédula', 'correo', 'teléfono', 'dirección', 'rol', 'activo', 'opciones']"
    ></app-datatable>
</div>

<app-loading *ngIf="loading"></app-loading>