<div>
    <div class="flex">
        <span [ngClass]="!state_edith ? 'bg-orange-600' : 'bg-red-600'" class="ml-auto p-3 rounded text-sm text-white" id="toltipo-info">
            {{!state_edith ? 'CREAR' : 'EDITAR'}}
        </span>
    </div>

    <datalist id="datalist_estados">
        <option value="Nuevo">
        <option value="Bueno">
        <option value="Regular">
        <option value="Dado de baja">
    </datalist>

    <app-form-dynamic
        #form_dynamic
        [inputs]="inputs"
        (reset)="this.state_edith = false"
        (submitEvent)="create_or_update($event);"
    ></app-form-dynamic>

    <app-datatable
        #datatableHerramientas
        [buttons]="[{icon: 'cil-pencil', text: '', id: 2}]"
        [keys]="['nombre_herramienta','referencia','marca','estado','codigo']"
        [titles]="['Herramienta', 'Referencia', 'Marca', 'Estado', 'codigo', 'opciones']"
        (clickEmit)="load_update($event.data)"
    ></app-datatable>
</div>
    
<app-loading *ngIf="loading"></app-loading>