<div class="space-y-4">
    <form [formGroup]="form_group" (submit)="submit()">
        <div *ngFor="let section of inputs">
            <hr class="my-4">

            <h2 class="m-0 font-medium" id="title-page">{{section.title}}</h2>
            <small>{{section.description}}</small>

            <div class="mt-6 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
                <div  *ngFor="let input of section.inputs">
                    <label for="{{input.name}}" class="text-gray-700 text-sm hover:text-gray-400 cursor-pointer " ><span class="mr-1 {{input.icon}}"></span>{{input.label | uppercase}}</label>
                    <input 
                        id="{{input.name}}"
                        [formControlName]="input.name"
                        [ngClass]="{'w-full': input.attributes?.type != 'checkbox'}"
                        class="block text-sm py-1.5 px-4 rounded-lg  border outline-none" 
                    />
                </div>
            </div>
        </div>
        <div class="mt-4 flex gap-4">
            <span (click)="reset_values()" class="cursor-pointer ml-auto mb-1.5 block w-full text-center px-2 btn-outline-secondary">Cancelar</span>
            <button type="submit" class="ml-auto mb-1.5 block w-full text-center px-2 btn-primary">ENVIAR</button>
        </div> 
    </form>        
</div>